<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">Starbucks Gift Cards: Starbucks Coffee Company</title>
    <link rel="icon" href="https://th.bing.com/th/id/OIP.FpBTdmS425XMYJ6kJH-fVAHaHd?rs=1&pid=ImgDetMain">
    <link rel="stylesheet" href="gift.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="hidden">

    <div class="loadingTop"></div>

    <div class="loading"></div>

    <nav class="navbar navbar-expand-lg navbar-light border-bottom" id="NavZI">
        <div class="container">
            <a href="../index.html" class="navbar-brand"><img
                    src="https://th.bing.com/th/id/OIP.FpBTdmS425XMYJ6kJH-fVAHaHd?rs=1&pid=ImgDetMain" alt=""
                    style="-webkit-border-before-width: 50px; height: 50px ;"></a>

            <button class="navbar-toggler noneClick" data-bs-toggle="offcanvas" data-bs-target="#nav" id="btn-open-nav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end hiddenMenu" id="nav">
                <div class="offcanvas-header">
                    <button class="btn-close" data-bs-dismiss="offcanvas"></button>
                </div>

                <div class="offcanvas-body">
                    <ul class="navbar-nav gap-2 justify-content-start flex-grow-1">
                        <li class="nav-item">
                            <a href="menu.html" class="nav-link fw-bold text-dark">MENU</a>
                        </li>
                        <li class="nav-item">
                            <a href="Reward.html" class="nav-link fw-bold text-dark">REWARDS</a>
                        </li>
                        <li class="nav-item">
                            <a href="gift.html" class="nav-link fw-bold text-dark" id="menu">GIFT CARDS</a>
                        </li>
                    </ul>


                    <div class="container-right d-flex gap-4">
                        <a href="find.html" class="me-5 nav-link fw-bold d-flex  align-items-center" id="locantion">
                            <span class="fs-4"><i class='bx bxs-map'></i></span> Find a store</a>

                        <div class="container-login">
                            <div class="btn btn-outline-dark rounded-5 me-2 fw-bold"><a href="signin.html"
                                    class="nav-link">Sing in</a></div>
                            <div class="btn btn-dark rounded-5 fw-bold"><a href="join.html" class="nav-link">Join
                                    now</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="container-hidden">

        <div class="container py-4">
            <h2 class="fs-1">Gift cards</h2>
        </div>

        <div class="container">
            <div class="container-in d-flex justify-content-between">
                <h6 class="fs-5">Featured</h6>

                <a href="#" class="nav-link text-success fw-bold SEEALL" id="seeall">See all</a>
            </div>

            <div class="container-out position-relative">
                <div class="arrow"><i class='bx bx-chevron-left' id="left"></i></div>
                <div class="container-item">
                    <div class="item d-flex gap-2 w-100 h-100">
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                    </div>
                </div>
                <div class="arrow"><i class='bx bx-chevron-right' id="right"></i></div>
            </div>
        </div>

        <div class="container">
            <div class="container d-flex align-items-center py-3" style="background-color: #edebe9;">
                <div class="cotent-img">
                    <img src="https://www.starbucks.com/weblx/images/gift/group-gift-cards.png" alt="">
                </div>
                <p>Effortlessly send up to 10 eGifts per purchase. Select a design to start!</p>
            </div>
        </div>

        <div class="container-fuild p-4 mt-4 mb-4 position-relative" style="background-color: #d4e9e2;">
            <div class="container align-items-center" id="container-flex">
                <h2 class="fs-2">Received a gift card?</h2>
                <p class="text-secondary fs-5 mt-3">Earns 2★ per $1</p>

                <div class="container-btn mb-2">
                    <button class="btn btn-outline-dark fw-bold rounded-5 mb-2 mb-lg-0">Add or Reload</button>
                    <button class="btn btn-dark fw-bold rounded-5 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#modal"
                        aria-controls="modal">Check balance</button>

                    <div class="modal fade" id="modal" style="z-index: 111111;">
                        <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button class="btn-close" data-bs-dismiss="modal" style="float: right;"></button>

                                    <div class="container p-5">
                                        <h1 class="fs-2">Check balance</h1>

                                        <hr class="text-success fw-bold">

                                        <form action="#">

                                            <div class="input-box">
                                                <input type="text" class="form-control focus-ring focus-ring-success"
                                                    required id="input1">
                                                <label for="input1"><span>*</span> Card number</label>
                                            </div>
                                            <p class="fs-6 d-flex align-items-center gap-2"><i class='bx bx-error-circle'></i> No spaces or dashes</p>
                                            <div class="input-box">
                                                <input type="text" class="form-control focus-ring focus-ring-success"
                                                    required id="input">
                                                <label for="input"><span>*</span> Security code</label>

                                            </div>

                                        </form>

                                        <button class="btn btn-dark fw-bold rounded-5" style="float: right;">Check
                                            balance</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-link">
                <a href="#" class="nav-link text-success fw-bold">Card Terms & Conditions</a>
            </div>
        </div>

        <div class="container">
            <div class="container-in d-flex justify-content-between">
                <h6 class="fs-5">Valentine's Day | 2/14</h6>

                <a href="#" class="nav-link text-success fw-bold SEEALL" id="seeall">See all</a>
            </div>

            <div class="container-out position-relative">
                <div class="arrow2"><i class='bx bx-chevron-left' id="left2"></i></div>
                <div class="container-item2">
                    <div class="item d-flex gap-2 w-100 h-100">
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                    </div>
                </div>
                <div class="arrow2"><i class='bx bx-chevron-right' id="right2"></i></div>
            </div>
        </div>

        <div class="container">
            <div class="container-in d-flex justify-content-between">
                <h6 class="fs-5">Birthday</h6>

                <a href="#" class="nav-link text-success fw-bold SEEALL" id="seeall">See all</a>
            </div>

            <div class="container-out position-relative">
                <div class="arrow3"><i class='bx bx-chevron-left' id="left3"></i></div>
                <div class="container-item3">
                    <div class="item d-flex gap-2 w-100 h-100">
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                    </div>
                </div>
                <div class="arrow3"><i class='bx bx-chevron-right' id="right3"></i></div>
            </div>
        </div>

        <div class="container">
            <div class="container-in d-flex justify-content-between">
                <h6 class="fs-5">Thank You</h6>

                <a href="#" class="nav-link text-success fw-bold SEEALL" id="seeall">See all</a>
            </div>

            <div class="container-out position-relative">
                <div class="arrow4"><i class='bx bx-chevron-left' id="left4"></i></div>
                <div class="container-item4">
                    <div class="item d-flex gap-2 w-100 h-100">
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                    </div>
                </div>
                <div class="arrow4"><i class='bx bx-chevron-right' id="right4"></i></div>
            </div>
        </div>

        <div class="container">
            <div class="container-in d-flex justify-content-between">
                <h6 class="fs-5">Celebration</h6>

                <a href="#" class="nav-link text-success fw-bold SEEALL" id="seeall">See all</a>
            </div>

            <div class="container-out position-relative">
                <div class="arrow5"><i class='bx bx-chevron-left' id="left5"></i></div>
                <div class="container-item5">
                    <div class="item d-flex gap-2 w-100 h-100">
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                    </div>
                </div>
                <div class="arrow5"><i class='bx bx-chevron-right' id="right5"></i></div>
            </div>
        </div>

        <div class="container">
            <div class="container-in d-flex justify-content-between">
                <h6 class="fs-5">Appreciation
                </h6>

                <a href="#" class="nav-link text-success fw-bold SEEALL" id="seeall">See all</a>
            </div>

            <div class="container-out position-relative">
                <div class="arrow6"><i class='bx bx-chevron-left' id="left6"></i></div>
                <div class="container-item6">
                    <div class="item d-flex gap-2 w-100 h-100">
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                    </div>
                </div>
                <div class="arrow6"><i class='bx bx-chevron-right' id="right6"></i></div>
            </div>
        </div>

        <div class="container">
            <div class="container-in d-flex justify-content-between">
                <h6 class="fs-5">Encouragement
                </h6>

                <a href="#" class="nav-link text-success fw-bold SEEALL" id="seeall">See all</a>
            </div>

            <div class="container-out position-relative">
                <div class="arrow7"><i class='bx bx-chevron-left' id="left7"></i></div>
                <div class="container-item7">
                    <div class="item d-flex gap-2 w-100 h-100">
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                        <div class="container-img">
                            <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt=""
                                class="rounded-4">
                        </div>
                    </div>
                </div>
                <div class="arrow7"><i class='bx bx-chevron-right' id="right7"></i></div>
            </div>
        </div>


        <div class="container-fluid p-4" style="background-color: #F9F9F9;">
            <div class="container container_flex">
                <div class="container-img-bt">
                    <img src="https://www.starbucks.com/weblx/images/gift/bulk-gift-cards.jpg" alt="" class="rounded-4">
                </div>

                <div class="container-content">
                    <h2 class="lead text-dark fw-bold">Business gifting — simplified</h2>

                    <p class="text-secondary fs-6">Bulk send physical or digital Starbucks Cards to gift, reward,
                        incentivize, or show appreciation towards your customers, clients and team members. Minimum 15
                        cards per order.</p>

                    <button class="btn btn-outline-dark fw-bold rounded-5">Shop now</button>
                </div>
            </div>
        </div>

        <div class="container-fluid p-5" style="border-color:#edebe9;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 mb-3">
                        <h6 class="fs-5">About eGift cards</h6>
                        <p>A Starbucks eGift card (also known as an “eGift”) is a Starbucks Gift Card that is purchased
                            and sent digitally.</p>
                        <p>For Senders of an eGift, go to eGift History when signed in to view, send, or resend eGifts
                            you’ve purchased — or, to directly contact Starbucks eGift Support for help with your order.
                        </p>

                        <h6 class="fs-5">Questions around eGift cards?</h6>
                        <p>Check our Frequently Asked Questions — your question might already be answered. There, you’ll
                            find answers for all Starbucks Gift Cards in general (including eGifts).</p>
                        <button class="btn btn-outline-dark fw-bold rounded-5">Card FAQs</button>
                    </div>

                    <div class="col-lg-6 col-sm-12">
                        <h6 class="fs-5">About Starbucks Gift Cards in general</h6>
                        <p>Starbucks Gift Cards, including eGifts, can be used to pay in a Starbucks store or to join
                            Starbucks® Rewards.</p>
                        <p>Register Gift Cards and eGifts to a Starbucks® Rewards account and earn 2★ per dollar every
                            time you pay with that card. Those Stars quickly add up to free food, drinks, and more!</p>
                        <button class="btn btn-outline-dark fw-bold rounded-5">Card Terms & Conditions</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!-- see all card -->


    <div class="container mt-5 containerSEEALLCARD">
        <h5 class="fs-6 mb-3">Gift cards</h5>

        <h6 class="text-secondary mb-3">Featured</h6>

        <div class="row">
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 mt-3" id="dFlexImg">
                <div class="container-img-seeAll w-100">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            
        </div>
    </div>

    <div class="container mt-5 containerSEEALLCARD">
        <h5 class="fs-6 mb-3">Gift cards</h5>

        <h6 class="text-secondary mb-3">Valentine's Day | 2/14
        </h6>

        <div class="row">
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 mt-3" id="dFlexImg">
                <div class="container-img-seeAll w-100">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            
        </div>
    </div>

    <div class="container mt-5 containerSEEALLCARD">
        <h5 class="fs-6 mb-3">Gift cards</h5>

        <h6 class="text-secondary mb-3">Birthday</h6>

        <div class="row">
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 mt-3" id="dFlexImg">
                <div class="container-img-seeAll w-100">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            
        </div>
    </div>

    <div class="container mt-5 containerSEEALLCARD">
        <h5 class="fs-6 mb-3">Gift cards</h5>

        <h6 class="text-secondary mb-3">Thank You</h6>

        <div class="row">
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 mt-3" id="dFlexImg">
                <div class="container-img-seeAll w-100">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            
        </div>
    </div>

    <div class="container mt-5 containerSEEALLCARD">
        <h5 class="fs-6 mb-3">Gift cards</h5>

        <h6 class="text-secondary mb-3">Celebration</h6>

        <div class="row">
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 mt-3" id="dFlexImg">
                <div class="container-img-seeAll w-100">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            
        </div>
    </div>

    <div class="container mt-5 containerSEEALLCARD">
        <h5 class="fs-6 mb-3">Gift cards</h5>

        <h6 class="text-secondary mb-3">Appreciation</h6>

        <div class="row">
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 mt-3" id="dFlexImg">
                <div class="container-img-seeAll w-100">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            
        </div>
    </div>

    <div class="container mt-5 containerSEEALLCARD">
        <h5 class="fs-6 mb-3">Gift cards</h5>

        <h6 class="text-secondary mb-3">Encouragement</h6>

        <div class="row">
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12" id="dFlexImg">
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 mt-3" id="dFlexImg">
                <div class="container-img-seeAll w-100">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
                <div class="container-img-seeAll">
                    <img src="https://i.pinimg.com/736x/34/51/48/345148f36004aaaf42484d7c73791d20.jpg" alt="" class="rounded-4">
                </div>
            </div>
            
        </div>
    </div>















    <!-- footer -->

    <div class="container-fluid shadow mt-5">
        <div class="container" id="footerNone" style="border-bottom: 2px solid gray; padding: 0 0 20px 0;">
            <div class="row">
                <div class="col-lg-2 col-sm-12 mt-4">
                    <h5 class="text-dark">About</h5>

                    <ul class="navbar-nav">
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Our Company</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Our Coffee</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">About Starbucks</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Starbucks Archive</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Investor Relations</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Customer Service</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-sm-12 mt-4">
                    <h5 class="text-dark">Careers</h5>

                    <ul class="navbar-nav">
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Culture and Values</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Inclusion, Diversity, & Belonging</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">College Achievement Plan</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Alumni Community</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">U.S. Careers</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">International Careers</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-sm-12 mt-4">
                    <h5 class="text-dark">Social Impact</h5>

                    <ul class="navbar-nav">
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Communities</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Starbucks Foundation</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Sustainability</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Environmental and Social Impact Reporting</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-sm-12 mt-4">
                    <h5 class="text-dark">For Business Partners</h5>

                    <ul class="navbar-nav">
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Landlord Support Center</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Suppliers</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Corporate Gift Card Sales</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Office and Foodservice Coffee</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-sm-12 mt-4">
                    <h5 class="text-dark">Order and Pick Up</h5>

                    <ul class="navbar-nav">
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Order on the App</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Order on the Wep</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Delivery</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Order and Pick Up Options</a></li>
                        <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                class="nav-link fs-6 text-secondary">Explore and Find Coffee for Home</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container" id="footerRP"
            style="border-bottom: 2px solid gray; padding: 0 0 20px 0; margin-bottom: 20px;">
            <div class="row">
                <div class="col-12" style="margin: 20px 0;">
                    <a href="#" class="nav-link fs-5 fw-bold arrowDown" data-bs-toggle="collapse"
                        data-bs-target="#collapse-1"
                        style="display: flex; justify-content: space-between; align-items: center;">About <span
                            class="fs-2 arrowDownIcon"><i class='bx bx-chevron-down'></i></span></a>

                    <div class="collapse" id="collapse-1">
                        <ul class="navbar-nav">
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Our Company</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Our Coffee</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">About Starbucks</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Starbucks Archive</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Investor Relations</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Customer Service</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12" style="margin: 20px 0;">
                    <a href="#" class="nav-link fs-5 fw-bold arrowDown" data-bs-toggle="collapse"
                        data-bs-target="#collapse-2"
                        style="display: flex; justify-content: space-between; align-items: center;">Careers <span
                            class="fs-2 arrowDownIcon"><i class='bx bx-chevron-down'></i></span></a>

                    <div class="collapse" id="collapse-2">
                        <ul class="navbar-nav">
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Culture and Values</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Inclusion, Diversity, & Belonging</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">College Achievement Plan</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Alumni Community</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">U.S. Careers</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">International Careers</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12" style="margin: 20px 0;">
                    <a href="#" class="nav-link fs-5 fw-bold arrowDown" data-bs-toggle="collapse"
                        data-bs-target="#collapse-3"
                        style="display: flex; justify-content: space-between; align-items: center;">Social Impact <span
                            class="fs-2 arrowDownIcon"><i class='bx bx-chevron-down'></i></span></a>

                    <div class="collapse" id="collapse-3">
                        <ul class="navbar-nav">
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Communities</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Starbucks Foundation</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Sustainability</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Environmental and Social Impact Reporting</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12" style="margin: 20px 0;">
                    <a href="#" class="nav-link fs-5 fw-bold arrowDown" data-bs-toggle="collapse"
                        data-bs-target="#collapse-4"
                        style="display: flex; justify-content: space-between; align-items: center;">For Business
                        Partners <span class="fs-2 arrowDownIcon"><i class='bx bx-chevron-down'></i></span></a>

                    <div class="collapse" id="collapse-4">
                        <ul class="navbar-nav">
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Landlord Support Center</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Suppliers</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Corporate Gift Card Sales</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Office and Foodservice Coffee</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12" style="margin: 20px 0;">
                    <a href="#" class="nav-link fs-5 fw-bold arrowDown" data-bs-toggle="collapse"
                        data-bs-target="#collapse-5"
                        style="display: flex; justify-content: space-between; align-items: center;">Order and Pick Up
                        <span class="fs-2 arrowDownIcon"><i class='bx bx-chevron-down'></i></span></a>

                    <div class="collapse" id="collapse-5">
                        <ul class="navbar-nav">
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Order on the App</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Order on the Wep</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Delivery</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Order and Pick Up Options</a></li>
                            <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#"
                                    class="nav-link fs-6 text-secondary">Explore and Find Coffee for Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <a href="#" class="me-3"><i class='bx bxl-spotify' id="icon-link"
                    style="color: black; font-size: 30px; width: 40px; height: 40px; display: inline-flex; justify-content: center; align-items: center; border-radius: 50%;"></i></a>
            <a href="#" class="me-3"><i class='bx bxl-facebook-circle' id="icon-link"
                    style="color: black; font-size: 30px; width: 40px; height: 40px; display: inline-flex; justify-content: center; align-items: center; border-radius: 50%;"></i></a>
            <a href="#" class="me-3"><i class='bx bxl-pinterest' id="icon-link"
                    style="color: black; font-size: 30px; width: 40px; height: 40px; display: inline-flex; justify-content: center; align-items: center; border-radius: 50%;"></i></a>
            <a href="#" class="me-3"><i class='bx bxl-instagram-alt' id="icon-link"
                    style="color: black; font-size: 30px; width: 40px; height: 40px; display: inline-flex; justify-content: center; align-items: center; border-radius: 50%;"></i></a>
            <a href="#" class="me-3"><i class='bx bxl-youtube' id="icon-link"
                    style="color: black; font-size: 30px; width: 40px; height: 40px; display: inline-flex; justify-content: center; align-items: center; border-radius: 50%;"></i></a>
            <a href="#" class="me-3"><i class='bx bxl-telegram' id="icon-link"
                    style="color: black; font-size: 30px; width: 40px; height: 40px; display: inline-flex; justify-content: center; align-items: center; border-radius: 50%;"></i></a>
        </div>

        <div class="container py-4">
            <ul class="navbar-nav">
                <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#" class="nav-link fs-6 text-dark fw-bold"
                        id="navHover">Privacy Notice</a></li>
                <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#" class="nav-link fs-6 text-dark fw-bold"
                        id="navHover">Consumer Health Privacy Notice</a></li>
                <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#" class="nav-link fs-6 text-dark fw-bold"
                        id="navHover">Terms of Use</a></li>
                <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#" class="nav-link fs-6 text-dark fw-bold"
                        id="navHover">Do Not Share My Personal Information</a></li>
                <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#" class="nav-link fs-6 text-dark fw-bold"
                        id="navHover">CA Supply Chain Act</a></li>
                <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#" class="nav-link fs-6 text-dark fw-bold"
                        id="navHover">Accessibility</a></li>
                <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#" class="nav-link fs-6 text-dark fw-bold"
                        id="navHover">Cookie Preferences</a></li>
                <li class="nav-item" style="margin: 10px 0 0 0;"><a href="#" class="nav-link fs-6 text-secondary">© 2025
                        Starbucks Coffee Company. All rights reserved.</a></li>
            </ul>
        </div>
    </div>






    <script src="gift.js"></script>
</body>

</html>